.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    margin: 0.5em;
}
.header__logo {
    height: 8vh;
    width: auto;
    margin: auto 0;
}
.header__menu {
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        list-style: none;
        display: none;
        position: absolute;
        width: 5em;
        text-align: center;
        margin: 8em 0em 0em 0em;
    }
    li {
        margin: 0.5em;
        margin-left: -2em;
    }
}
.header__menu--profile {
    padding: 0em;
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__menu:hover ul, ul:hover {
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
