.login__form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    padding: 2em;
    input {
        margin: 1em;
        outline: none;
        border: 1px solid;
    }
    button {
        width: 10em;
        outline: none;
        margin: 2em auto;
    }
    border: 1px solid blue;
}