.passwordForget {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-around;
    margin: 0 auto;
    input {
        width: 35%;
        margin: 1em auto;
    }
    h1, p {
        margin: 1em;
    }
}